
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
    font-family: 'Inter', sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/



.header__container{
    padding: 76px 0px;
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px; 
}

.header__links{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.header__link{ 
    margin: 0px 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #666464;
}

.link__active{
    color: #000;
}

.main__title{
    
    font-size: 58px;
    line-height: 70px;
}

.red__title{
    color: #F73D31;
    font-weight: 800;
}

.main__block{
    width: 100%;
    display: flex;
    margin-top: 50px;
}

.main__container{
    display: flex;
   
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;

}

.buy__now-block{
    margin-top: 97px;
    text-align: center;
}

.simptom__container{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    flex-direction: column;
    
}

.buy__now__container{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    flex-direction: column;
}

.components__container{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    flex-direction: column;
}

.main__subtitle{
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    margin-top: 35px;
}

.main__items{
    display: flex;
    flex-direction: column;
    margin-top: 53px;
}

.main__item__icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: auto 0px;
    align-items: center;
    background: #F73D31;
}

.main__item__icon__mini{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
}

.main__item{
    display: flex;
    margin-top: 30px;
}

.main__item__text{
    display: flex;
    margin: auto 20px;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

.main__form{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding: 22px 15px;
    width: 480px;
    height: 375px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    margin-top: 48px;
}

.form__title{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 26px;
}

.form__input{
    width: 90%;
    color: #9E9E9E;
    height: 55px;
    border: 1px solid #D8D8D8;
    border-radius: 90px;
    margin-top: 20px;
    padding: 15px;
    font-size: 16px;
}

.form__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    width: 90%;
    height: 55px;
    background: #F73D31;
    border-radius: 90px;
    margin-top: 20px;
}

.main__img{
    max-width: 100%;
    width: 100%;
    margin-top: -110px;
    margin-right: -70px;
}

.form__block{
    display: flex;
}

.main__img-bottle{
    width: 550px;
    height: 700px;
    position: absolute;
    margin-top: -200px;
    margin-left: -61px;
}

.simptom__block{
    margin-top: 133px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.simptom__title{
    font-weight: 400;
    font-size: 46px;
    line-height: 56px;
    
    color: #000000;
}

.red__line{
    width: 175px;
    height: 5px;
    margin: 50px 0px;
    background: #F73D31;
}

.simptom__text{
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #828282;
}

.simptom__items{
    margin-top: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.simptom__item{
    border: 2px solid #f73e3124;
    height: 350px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 40px;

}


.simptom__item-img{
    width: 90px;
    height: 90px;
    background: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.simptom__item-title{
    margin-top: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000;
}

.simptom__item-text{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #828282;
    margin-top: 20px;
}

.danger__block{
    display: flex;
    height: 150px;
    width: 100%;
    background: #F73D31;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 38px;
}

.danger__text{
    color: #fff;
    font-size: 23px;
    line-height: 34px;
}

.danger__span{
    font-weight: 800;
}

.danger__white{
    height: 70%;
    width: 40%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    padding: 0px 20px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.danger__white-text{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-left: 20px;
    color: #000000;
}

.buy__now-bottle{
    width: 550px;
    height: 700px;
}

.buy__now-body{
    display: flex;
}

.buy__now-textblock{
    text-align: left;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
}

.buy__now-textblock span{
    font-weight: 800;
    padding-top: 50px;
}

.buy__now-textblock p{
    margin-top: 30px;
}

.buy__now-btn{
    margin-top: 50px;
    width: 100%;
    height: 85px;
    background: #F73D31;
    border-radius: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    padding-left: 50px;
    align-items: center;
    text-transform: uppercase;
}

.danger__white-mod{
    cursor: pointer;
    margin: 10px;
    width: 145px;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.components__block{
    margin-top: 146px;
    margin-bottom: 140px;
}

.components__item-icon{
    display: flex;
    align-items: center;
}

.components__item-img{
    width: 90px;
    height: 90px;
    
   
}

.components__item{
    max-width: 380px;
    margin-top: 20px;
}

.components__item-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

}

.components__main{
    display: flex;
}

.components__item-left{
    text-align: left;
}

.components__item-right{
    text-align: right;
}

.components__item-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    
}